body{
  margin: 0;
  text-align: center;
  color: #40514E;
}
.top-cont{
  background-color: #EAF6F6;
}


.cloud1{
  margin: 0px auto -50px 600px;
  position: relative;
  top: 40px;
}

.cloud2{
  position: absolute;
 margin-left: 250px;
}

.mountain{

}

.top{
  font-size: 1.5rem;
  font-weight: normal;
}

.middle-container{
  margin: 100px 0;
}

.intro{
  width: 25%;
  margin: auto;
  line-height: 2;
}

h1{
  margin: 75px auto 0 auto;
  font-size: 5rem;
  color: #66BFBF;
  line-height: 3;
  font-family: 'Gloria Hallelujah', cursive;
}

h2{
  color: #66BFBF;
  font-family: 'Merriweather', serif;
  padding-bottom: 10px;
}

h3{
  color: #11999E;
}

h5{
  font-family: 'Merriweather', serif;

}

h4{
  font-family: 'Merriweather', serif;
  font-size: 1.125rem;
  color: #11999E;
}

hr{
  border: dotted #e1f0f0 8px;
  border-bottom: 0;
  width: 5%;
  margin: 100px auto;
}

.contact-msg{
  width: 30%;
  margin: 40px auto 60px;
}

.gif{
  width: 25%;
  frameBorder: 0;
  float: left;
  margin-right: 30px;
}

.chillies{
  width: 25%;
  float: right;
  margin-left: 20px;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.btn {

	background-color:#11cdd4;
	border-radius:8px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Merriweather', serif;
	font-size:20px;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.btn:hover {
	background-color:#30e3cb;
}
.btn:active {
	position:relative;
	top:1px;
}

a{
  color: #11999E;
  font-family: 'Merriweather', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.copy{
    font-family: 'Merriweather', sans-serif;
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
